<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @advertisement.title %>
</p>

<p>
  <b>Description:</b>
  <%= @advertisement.description %>
</p>

<p>
  <b>Pramotor:</b>
  <%= @advertisement.pramotor %>
</p>

<p>
  <b>Add cost:</b>
  <%= @advertisement.add_cost %>
</p>


<%= link_to 'Edit', edit_advertisement_path(@advertisement) %> |
<%= link_to 'Back', advertisements_path %>
